<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% block title %}
      <title>Signin Template for Bootstrap</title>
    {% endblock title %}



    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'grumblr/css/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    {% block customized_css %}
    <!-- Custom styles for this template -->
    {% endblock customized_css %}
  </head>

  <body>
    <!-- Error message -->
    {% block msg_block %}
      <!-- Show error msg -->
      {% if errors %}
        <script> alert('{{errors}}'); </script>
      {% endif %}

      <!-- Show notification msg -->
      {% if msg %}
        <script> alert('{{msg}}'); </script>
      {% endif %}
    {% endblock msg_block%}

    <!-- Top logo and text -->
    {% block logo_text %}
      <div style="width:90%; display: block; margin:0 auto; text-align:center"> 
        <div style="margin:0 auto;text-align:center; display:inline-block;">
          <img src="{% static 'IMHere/images/logo.png' %}" alt="Grumblr_logo" class="logo">
          <label class="logo_text">IMhere</label>
        </div>
      </div>
    {% endblock logo_text %}

    <!-- Content -->
    {% block content %}
      <label>This is the base.html!</label>    
    {% endblock content %}
  </body>
</html>